// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.nav-avatar {
  height: 25px;
}
.edit-avatar {
  height: 50px;
}
#users-show-page {
  .list-unstyled li {
    border-bottom: solid 1px whitesmoke;
  }
}
.notifications-badge {
  margin-top: -1;

  .badge-fade {
    background-color: #ebe8e8;
  }

  .badge-hint {
    background-color: #d15b47 !important;
  }
}
